@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin-bottom: 2.5rem;
  background: rgb(10, 35, 81);
  background: linear-gradient(
    360deg,
    rgba(10, 35, 81, 1) 0%,
    rgba(109, 154, 237, 1) 100%
  );
}

h1 {
  margin: 0.7rem 0 0;
}

h3 {
  font-weight: 400;
  margin: 0.7rem 0 0;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 21rem;
  width: 9.4rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small {
  height: 6rem;
  width: 3.1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.3rem;
  transition: 0.3s ease;
}
.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}
.cup.cup-small:hover {
  cursor: pointer;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 17.5rem;
}

.remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remaining span {
  font-size: 1.3rem;
  font-weight: bold;
}

.remaining small {
  font-size: 0.8rem;
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font.wight: bold;
  font-size: 2rem;
  height: 0;
  transition: 0.3s ease;
}

.text {
  text-align: center;
  margin: 0 0;
}
